<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{{ post.meta['title'] if post.meta['title'] else config['meta']['title'] }} - {{ config['meta']['title'] }}</title>
    <meta name="description" content="{{ post.meta['subtitle'] if post.meta['subtitle'] else config['meta']['description'] }}"/>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/' + head.stylesheet_file_name) }}" type="text/css"
          media="screen">
</head>
<body class="{{ css_class }}">
<div class="container fw">
    <div class="row">
        <div class="column one-twelfth offset-one-sixth">
            <div class="aside">
                <h1><a class="logo" href="{{ url_for('index') }}">{% if logo %}<img alt="ouafi.net" src="{{ url_for('static', filename='images/logo.png') }}" />{% else %}{{ config['meta']['title'] }}{% endif %}</a></h1>
                {% if 'slogan' in config %}
                <p class="quote">{{ config.slogan }}</p>
                {% endif %}
                <ul class="menu">
                    {% for item in config.nav %}
                        <li><a href="{{ item.link }}">{{ item.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="column {% if post.slug == 'index' %}half{% else %}two-fifth{% endif %}">
            {% block content %}
            {% endblock %}
            {% block pagination %}
            {% endblock %}
            <footer>
                <p>
                    {{ config['meta']['footer'] }}
                </p>
            </footer>
        </div>
    </div>
</div>
</body>
